.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 900;
  color: darkblue;
}

.add-contact {
  align-self: center;
}

.edit-contact {
  align-self: center;
}